* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
  }
  
  body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
      background-color: #a1a1a1;
  
  }
  
  .header {
      width: 100%;
      height: 50px;
      position:fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #31363F;
  }
  
  .logo_header img {
      height: 100px;
      margin-top: 60px;
      width: auto;
  }
 
  a {
      text-decoration: none;
      color: #31363F;
  }

.cuerpo {
    width: 500px;
    height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10vh;
    text-align:right;
    
}
.audio, .video, .votaciones {
    height: 210px;
    width: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items:center;

}
.imgAudio{
    width: auto;
    height: 200px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);
}
.imgVideo{
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);
}
.video{
    justify-content: right; 
}
.cardVideo{
    text-align: left;
}
.imgVotaciones{
    height: 180px;
    width: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);

}
.titulo{
    text-align: center;
    color: #31363F;

    /*#020873 color azul de paleta*/
    /*#445CA6 color azul del logo*/
}

  /*footer*/
  
  .footer {
      width:100vw ;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      background-color: #BAD2E4;
      font-weight: bold;
  }
  
  .content {
      margin-top: 25px;
      width: 100%;
      display: flex;
      /*flex-wrap: wrap;*/
      justify-content: space-between;
      gap: 5px;
  }
  
  .info {
      display: flex;
      flex-direction: row;
      margin-left: 40px;
      width: auto;
      margin-bottom: 20px;
      align-items: center;
      justify-items: center;
  }
  
  /*footer icon*/ 
  .bi-envelope, .bi-whatsapp {
      font-size: 20px;
      color: #31363F;
  }
  
  .whatsapp {
      margin-left: 8px;
  }
  

  @media (max-width: 720px) {
      .form {
          padding: 10px;
          flex-direction: column;
      }
      .cuerpo{
        width: 80%;
        height: 120vh;
      }
  
      .info_general, .registro {
          width: 100%;
      }
  }
  